@model MVC_StokTakip.MyModel.MyBirimler
@{
    ViewBag.Title = "SilBilgiGetir";
}

<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card p-2">
            <div class="card-header"><i class="fa fa-table"></i> Kategori İşlemleri</div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">

        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon contrast-alert">
                <i class="icon-close"></i>
            </div>
            <div class="alert-message">
                <span><strong>Dikkat!</strong> Kaydı Silmek İstediğinizden Emin misiniz?</span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("Sil", "Birimler", FormMethod.Post))
                {

                    <h4 class="form-header text-uppercase" style="color:#ee0979;">
                        <i class="fas fa-warning"></i>İŞLEM ÖZETİ
                    </h4>
                    <div class="form-group row">
                        <label class="col-sm-3">Kategori ID</label>
                        <div class="col-sm-9">
                            @Html.HiddenFor(k => k.ID)
                            @Html.DisplayFor(k => k.ID)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Kategorİ Adı</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.Birim, new { @class = "La-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Açıklama</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(m => m.Aciklama)
                        </div>
                    </div>

                    <div class="form-footer">
                        <a href="/Birimler/Index" class="btn btn-success"><i class="fa fa-backward"></i> Geri Dön</a>
                        <button id="btnSil" class="btn btn-danger"><i class="fa fa-eraser"></i> Sil</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
